@import url(imports/constants.css);
@import url(imports/variables.css);
@import url(components/header.css);


* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
p,
a,
li {
    font-family: var(--ff);
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-600);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-600);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-300);
}

p,
a,
li {
    font-size: var(--fs-body);
    font-weight: var(--fw-300);
}

a {
    text-decoration: none;
}

main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        'h1 -'
        'about slider';
    row-gap: 24px;
    column-gap: 48px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 24px;
}

h1 {
    grid-area: h1;
}

.about {
    grid-area: about;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.portrait {
    width: 300px;
    border-radius: 50%;
}

.about .links {
    margin: 0;
}

/*slider resource: /*https://css-tricks.com/css-only-carousel/*/
.projects-slider {
    grid-area: slider;
    width: 100%;
    overflow: hidden;
    justify-self: center;
}

.projects-slider h2 {
    margin-bottom: 24px;
}

.projects {
    display: flex;
    column-gap: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.projects::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.projects::-webkit-scrollbar-thumb {
    background: var(--clr-charcoal);
    border-radius: 10px;
}

.projects::-webkit-scrollbar-track {
    background: transparent;
}

.project-card {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 24px;
}

.links {
    display: flex;
    gap: 24px;
    margin: 24px 0;
    filter: invert(15%) sepia(0%) saturate(1%) hue-rotate(159deg) brightness(95%) contrast(85%);
}

.project-img {
    width: 100%;
    height: auto;
}

.slider-btns a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: var(--clr-charcoal);
    color: var(--clr-white);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 8px 5px 0px 5px;
    box-shadow: 10px;
}

.slider-btns a:focus,
.slider-btns a:hover {
    background-color: var(--clr-white);
    color: var(--clr-charcoal);
    border: 1px solid var(--clr-charcoal);
}