:root {
    /* colors */
    --clr-rainydays: #748d93;
    --clr-science: #207c95;
    --clr-ohsheet: #CFC9C0;

    --clr-white: #ffffff;
    --clr-charcoal: #323232;

    /* typography */
    --ff: monospace;

    --fs-h1: 3em;
    --fs-h2: 2.2em;
    --fs-h3: 1.8em;
    --fs-h4: 1.4em;
    --fs-body: 1.4em;

    --fw-300: 300;
    --fw-600: 600;
}