@import url(./variables.css);

/* .bg-rainydays {
    background-color: var(--clr-rainydays);
}

.bg-science {
    background-color: var(--clr-science);
}

.bg-ohsheet {
    background-color: var(--clr-ohsheet);
} */

/* .type-white {
    color: var(--clr-white);
}

.type-charcoal {
    color: var(--clr-charcoal);
} */

/* .tt-uppercase {
    text-transform: var(--tt-upper);
}

.tt-lowercase {
    text-transform: var(--tt-lower);
}

.tt-capitalize {
    text-transform: var(--tt-cap);
} */